/* Generics */

body {
  background-color: #f0f0f0;
}

button {
  padding: 0.5em;

  color: #000;

  background-color: #ffffff;

  border-width: 0px;
}

.hidden {
  display: none !important;
}

/* Specific */

.slot-machine {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .slot-machine {
    grid-template-columns: 1fr;
  }
}

.slot-machine > img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .slot-machine > img {
    width: 40%;
  }
}

.slot-machine__buttons {
  display: grid;
  place-items: center;
  gap: 0.25em;
}

.slot-machine__list {
  display: grid;
  place-items: center;
}

.slot-machine__list > table {
  background-color: #ffffff;

  padding: 0.25em 0.5em;
}
